* {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, "PingFang TC", "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
}

h1 {
    font-size: 1rem;
    line-height: 1;
    margin: 0.25rem 0 .5rem;
    font-weight: normal;
}

p {
    line-height: 1.5;
    font-size: .75rem;
    color: #ffffff;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.app-info {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: .5rem .75rem;
    background-color: transparent;
    color: #ffffff;
    z-index: 1 !important;
    box-sizing: border-box;
}

.app-info * {
    text-shadow: 0 2px 3px rgba(0, 0, 0, .4), 0 -2px 3px rgba(0, 0, 0, .4);
}

.mapContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
}

.marker {
    background-image: url('/images/pin.svg');
    background-size: auto 100%;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

/* Popup card */
.mapboxgl-popup-content {
    padding: 1rem;
}
.mapboxgl-popup-content {
    font-size: 1rem;
    border-radius: 4px;
}
.mapboxgl-popup p{
    color: #404040;
}
.mapboxgl-popup a {
    color: orange;
}
.mapboxgl-popup-close-button {
    font-size: 1.25rem;
    padding: 0 .5rem;
}